/* ------ template ------ */

.bi {
    color:rgb(112, 112, 112);
}

.brand-link {
    text-decoration: none;
}

.btn {
    font-weight: 500;
    color: white;
}

.btn {
    background-color: #138D75;
    border-color: #138D75;
    color: white;
}

.btn:hover {
    background-color: #138D75;
}

.btn:hover {
    background-color: #138D75;
    color: white;
}

.container {
    padding-right: 3%;
    padding-left: 3%;
}

.containers-border {
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(150, 150, 150);
    margin: 0;
}

.content-link {
    color: rgb(39, 39, 39);
    display: block;
    font-weight: 500;
    font-size: 1.0rem;
    line-height: 1.1rem;
    padding-top: 1%;
    text-decoration: none;
}

.content-link:hover {
    color: #138D75;
}

.content-font {
    color: rgb(39, 39, 39);
    display: block;
    font-weight: 500;
    font-size: 1.0rem;
    line-height: 1.1rem;
    padding-top: 4%;
    text-decoration: none;
}

.content-link-top {
    font-size: 1.6rem;
    padding-top: 1%;
}

.explore-bar {
    background-color: rgb(13, 13, 14);
}

.footer {
    background-color: rgb(13, 13, 14);
}

.footer-text {
    color: white;
}

.form-control {
    background-color:rgb(39, 39, 39);
    color: rgb(112, 112, 112) !important;
}

.form-control:focus {
    background-color:rgb(39, 39, 39);
}

.nav-link {
    color: white;
    background-color: rgba(39, 39, 39, 0);
    border-color: rgba(39, 39, 39, 0);
    border-width: 0;
    font-weight: 600;
}

.nav-link:hover {
    color: #138D75;
}

.game-score {
    background-color: #138D75;
    border-color: #138D75;
    color:white;
    font-size: 1.0rem;
    font-weight: 500;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

h3 {
    color: #138D75;
}

h4 {
    color: white;
    margin: 0;
    padding:0;
    background-color:rgb(39, 39, 39);
}

.search-button {
    background-color: rgb(13, 13, 14);
    border-color: rgb(13, 13, 14);
}

.search-button:hover {
    background-color: inherit;
    border-color: rgb(13, 13, 14);
}

.site-title {
    color:#138D75;
}

.tiny-label {
    background-color: #138D75;
    font-weight: 400;
    font-size:x-small;
    padding: 0.5%;
    padding-right: 2%;
    padding-left: 2%;
}

.top-bar {
    background-color: rgb(39, 39, 39);
}

.top-bar-container {
    background-color:rgb(39, 39, 39);
}

/* ------ game ------ */

.btn-dark {
    background-color: rgb(39, 39, 39);
}

.lenght-font {
    color:rgb(39, 39, 39);
    display: block;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1.1rem;
    padding-bottom: 0.5rem; 
    padding-top: 0.5rem;
    text-decoration: none;
    text-align: center;
}

.lenght-container {
    border-radius: 8px;
    padding: 0;

}

.content-font-top {
    color: rgb(39, 39, 39);
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.review-box {
    border-radius: 8px;
    margin: 1%;
}

.review-date {
    color: grey;
    font-size: 0.9rem;
    margin: 0;
}

.review-username {
    color: rgb(39, 39, 39);
    font-weight: 600;
    text-decoration: none;
}

/* ------ index ------ */

.carousel-title {
    color: white;   
}

.img-top {
    max-width: 100%;
    max-height: auto;
    padding-top: 2%;
}

.img-rounded {
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
}

.main-news-container {
    padding-top: 1%;
    padding-bottom: 0%;
}

.main-news-title {
    font-size: 1.8rem;
    color:#138D75;
}

.news-info {
    color: grey;
    line-height: 1.1rem;
}

.tiny-text {
    color:grey;
}

h6 {
    color: grey;
}

/* ------ login ------ */

.login-background {
    background-color: rgb(13, 13, 14);
}

.login-logo {
    color: white;
}

.login-container {
    background-color: rgb(39, 39, 39);
    height: 640px;
    margin: auto;
    margin-top: 7%;
    padding:0;
    width: 420px;
    border-radius: 8px;
}

.login-form {
    padding: 50px;
}

.login-message {
    color: #138D75;
    font-weight: normal;
    padding-top: 2%;
}

.login-link {
    color: white;
    text-align: end;
}

.login-btn {
    background-color: #138D75;
    border-color: #138D75;
    color: white;
    font-weight: 700;
    padding: 5%;
    width: 297px !important;
}

.login-btn:hover {
    background-color: white;
    border-color: white;
    color: rgb(39, 39, 39);
}

/* noticias */

h1 {
    color: rgb(39, 39, 39);
    font-size: 3.3rem;
    line-height: 95%;
    padding-bottom: 1%;
}

h5 {
    color: #138D75;
}

.news-text {
    font-size: 1.2rem;
}

/* comunidade */

.post {
    color: rgb(112, 112, 112);
    display: block;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1.1rem;
    padding: 1%;
}

.post-username {
    color: #138D75;
    font-weight: 600;
    text-decoration: none;
}

.post-username:hover {
    color: #138D75;   
}