{% extends "base_template.html" %}

{% block title %}
Pesquisa
{% endblock title %}

{% block main %}
<div class="container pt-3">
    {% if news_list %}
        <h3 class="pt-4 pb-4">Notícias</h3>
        {% for news in news_list %}
            <div class="row align-items-end">
                <div class="col-2">
                    <a href="/news/{{ news.title }}">
                        <img class="img-rounded" src="../../static/images/news/{{ news.image }}" alt="{{ news.label }} image">
                    </a>
                </div>
                <div class="col-8">
                    <a class="btn tiny-label">{{ news.label }}</a>
                    <a class="content-link" href="/news/{{ news.title }}">{{ news.title }}</a>
                    <p class="news-info pt-2">{{ news.sub }}</p>
                </div>
                <div class="col-2">
                    <p class="tiny-text align-text-bottom">{{ news.date }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
    {% if game_list %}
        <h3 class="pt-2 pb-4">Games</h3>
        {% for game in game_list %}
            <div class="row py-2">
                <div class="col-1 ">
                    <a href="/titles/{{ game.id }}">
                        <img class="img-rounded w-100" src="../../static/images/game/{{ game.image }}" alt="">
                    </a>
                </div>
                <div class="col-4">
                    <a class="content-link" href="/titles/{{ game.id }}">{{ game.title }}</a>
                    <p class="tiny-text">{{ game.platform }}</p>        
                </div>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
    {% if not news_list and not game_list %}
            <img class="ms-5 py-5" src="../../static/images/site/no-results.jpg" alt="">
    {% endif %}
    <h5>Resultados encontrados: {{ results }}</h5>
</div>
{% endblock main %}